.main-container .filters {
    width: 90%;
}

.main-container .filters form {
    padding: 10px;
    flex-grow: 1;
}

.main-container .filters .tags-nav {
    flex-grow: 1;
    cursor: pointer;
    font-size: 12px;
}

.main-container .filters .tags-nav span {
    flex-grow: 1;
    text-align: center;
}


/* .main-container .filters .tags-nav span:hover {
    font-size: 14px;
} */