.meme-gen-container {
    display: none;
    /* */
    background-color: var(--clrGlryBgc);
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    justify-content: space-around;
    place-items: center
}