.img-gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    grid-gap: 10px;
    place-items: center;
    justify-content: center;
    background-color: var(--clrGlryBgc);
    width: 90%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px var(--clrGlryBgc);
}