.main-header {
    width: 100%;
    height: 3.474rem;
    background-color: var(--clrMain);
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

.main-header h1:hover {
    cursor: pointer;
}

.main-header span:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width:400px) {
    .logo {
        font-size: 15px;
    }
}